:root {
  --primary: #3b82f6;
  --primary-dark: #1976d2;
  --dark: #303030;
  --info: #011627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
}

.lightbox {
  transform: translateY(10%);
}

.testimonial {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.testimonial .box-testimonial .box {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial .box-testimonial .box h1 {
  color: var(--dark);
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  padding-inline: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  /* custom */
  margin-bottom: 50px;
  padding: 20px;
  cursor: grabbing;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid var(--primary);
}

.testimonial .box-testimonial .swiper .swiper-wrapper .swiper-slide h4 {
  color: var(--primary);
}

.testimonial .box-testimonial .swiper .swiper-wrapper .swiper-slide p {
  font-size: 14px;
  line-height: 2;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media (max-width: 1200px) {
  .lightbox {
    transform: translateY(20%);
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
    margin-inline: auto;
    transition: all 0.3s linear;
  }
}

/* navbar */
.navbar {
  padding: 5px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 0.2s ease;
}

.navbar.scrolling-active {
  /* box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3); */
  background-color: var(--info);
  padding: 15px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
  color: white;
}
.navbar.scrolling-active .box-navbar .navigation ul li a {
  color: white;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .brand h1 {
  font-size: 36px;
  color: var(--dark);
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .box-navbar .navigation ul li {
  list-style: none;
  transition: all 0.2s ease;
}

.navbar .box-navbar .navigation ul li:hover {
  transform: scale(1.1);
}

.navbar .box-navbar .navigation ul li a {
  text-decoration: none;
  color: black;
}

.navbar .box-navbar i.ri-menu-line {
  display: none;
}

.navbar .box-navbar i.ri-close-line {
  display: none;
}
.navbar .box-navbar .navigation ul li i {
  display: none;
}
.navbar .box-navbar .navigation ul li:hover a {
  color: var(--primary);
}

.navbar .box-navbar .navigation ul li:nth-child(5) a {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: var(--primary);
}

/* section hero */
.hero {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  align-items: center;
}

.hero .box-hero .box:nth-child(1) h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--dark);
}

.hero .box-hero .box:nth-child(1) button {
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
}

.hero .box-hero .box:nth-child(1) .btn1 {
  background-color: var(--primary);
  color: white;
}
.hero .box-hero .box:nth-child(1) .btn1:hover {
  background-color: var(--primary-dark);
}

.hero .box-hero .box:nth-child(1) .btn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hero .box-hero .box:nth-child(1) p {
  line-height: 2;
  margin-bottom: 20px;
}

.hero .box-hero .box:nth-child(2) img {
  width: 100%;
  border-radius: 10px;
}

/* section about */
.about {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.about .box-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 50px;
}

.about .box-about .box:nth-child(1) {
  display: grid;
  grid-template-areas:
    'image1 image2'
    'image3 image4';
  gap: 10px;
}

.about .box-about .box:nth-child(1) .image1 {
  grid-area: image1;
}

.about .box-about .box:nth-child(1) .image2 {
  grid-area: image2;
}

.about .box-about .box:nth-child(1) .image3 {
  grid-area: image3;
}

.about .box-about .box:nth-child(1) .image4 {
  grid-area: image4;
}

.about .box-about .box:nth-child(1) img {
  width: 100%;
  border-radius: 10px;
}

.about .box-about .box:nth-child(2) h1 {
  font-size: 40px;
  color: var(--dark);
  margin-bottom: 10px;
}

.about .box-about .box:nth-child(2) p {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 20px;
}

.about .box-about .box:nth-child(2) button {
  padding: 15px 40px;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}

.about .box-about .box:nth-child(2) button:hover {
  background-color: var(--primary-dark);
}

/* section gallery */
.gallery {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.gallery .box-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 50px;
}

.gallery .box-gallery .box:nth-child(1) {
  text-align: center;
  width: 50%;
  margin-inline: auto;
}

.gallery .box-gallery .box:nth-child(1) h1 {
  color: var(--dark);
}

.gallery .box-gallery .box:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gallery .box-gallery .box:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.gallery .box-gallery .box:nth-child(2) a {
  position: relative;
}

.gallery .box-gallery .box:nth-child(2) a .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scaleY(0);
  transform-origin: bottom;
  opacity: 0;
}

.gallery .box-gallery .box:nth-child(2) a:hover .bg-img {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease;
}

footer p {
  padding: 20px 0;
  text-align: center;
}

/* 992 px =============================================================== */
@media (max-width: 992px) {
  .navbar.scrolling-active .box-navbar i.ri-menu-line {
    color: white;
  }

  .navbar .box-navbar i.ri-menu-line {
    display: block;
    font-size: 28px;
  }

  /* sidebar akan hilang ketika right -300px */
  .navbar .box-navbar .navigation {
    position: absolute;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: var(--info);
    transition: all 0.3s ease;
  }

  /* sidebar akan muncul ketika right 0 */
  .navbar .box-navbar .navigation.menu-active {
    right: 0;
  }

  .navbar .box-navbar .navigation i.ri-close-line {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    color: black;
  }

  .navbar .box-navbar .navigation ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 70px 30px 0 0;
  }

  .navbar .box-navbar .navigation ul li a {
    color: white;
  }

  .navbar .box-navbar .navigation ul li i {
    display: inline-block;
    color: var(--primary);
    margin-inline: 10px;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) a {
    background-color: transparent;
    padding: 0;
  }

  .hero {
    padding-top: 100px;
  }

  .hero .box-hero {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hero .box-hero .box:nth-child(1) {
    order: 2;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 48px;
  }

  .hero .box-hero .box:nth-child(2) {
    order: 1;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(2) img {
    width: 500px;
  }
}

/* 768 px =============================================================== */
@media (max-width: 768px) {
  .hero .box-hero {
    row-gap: 30px;
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 42px;
  }

  .hero .box-hero .box:nth-child(2) img {
    width: 400px;
  }

  .about {
    padding-top: 100px;
  }

  .about .box-about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
  }

  .about .box-about .box:nth-child(1) {
    justify-content: center;
  }

  .about .box-about .box:nth-child(1) img {
    width: 200px;
  }

  .about .box-about .box:nth-child(2) {
    text-align: center;
  }
  .gallery {
    padding-top: 100px;
  }

  .gallery .box-gallery .box:nth-child(1) {
    width: 75%;
  }
}

/* 576 px =============================================================== */
@media (max-width: 576px) {
  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 36px;
  }

  .lightbox {
    transform: translateY(30%);
  }
}

/* 475 px =============================================================== */
@media (max-width: 475px) {
  .hero {
    /* padding-top: 80px; */
    padding: 0;
  }

  .hero .box-hero {
    gap: 30px;
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 28px;
  }

  .hero .box-hero .box:nth-child(1) button {
    margin-bottom: 10px;
  }

  .hero .box-hero .box:nth-child(2) {
    align-self: flex-end;
  }

  .hero .box-hero .box:nth-child(2) img {
    width: 100%;
  }

  .about .box-about .box:nth-child(1) img {
    width: 100%;
  }

  .gallery .box-gallery .box:nth-child(1) {
    width: 100%;
  }

  .gallery .box-gallery .box:nth-child(1) p {
    font-size: 12px;
  }

  .lightbox {
    transform: translateY(40%);
  }
}

/* 370 px =============================================================== */
@media (max-width: 370px) {
  .hero {
    padding-top: 100px;
  }

  .hero .box-hero {
    grid-template-rows: repeat(2, auto);
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 24px;
  }

  .hero .box-hero .box:nth-child(1) p {
    font-size: 14px;
  }

  .about {
    padding-top: 30;
  }

  .about .box-about {
    row-gap: 20;
  }

  .about .box-about .box:nth-child(2) p {
    font-size: 12px;
  }

  .lightbox {
    transform: translateY(60%);
  }
}

/* 320 px =============================================================== */
@media (max-width: 320px) {
  .about .box-about {
    row-gap: 0;
  }

  .about .box-about .box:nth-child(2) h1 {
    font-size: 34px;
  }

  .about .box-about .box:nth-child(2) p {
    font-size: 10px;
  }

  .lightbox {
    transform: translateY(80%);
  }
}
