:root {
  --primary: #3b82f6;
  --dark: #303030;
  --info: #011627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
  transition: all 0.3s linear;
}

@media (min-width: 992px) {
  .container {
    width: 80%;
    margin-inline: auto;
    transition: all 0.3s linear;
  }
}

/* navbar */
.navbar {
  padding: 5px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  transition: all 0.2s ease;
}

.navbar.scrolling-active {
  /* box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3); */
  background-color: var(--info);
  padding: 15px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
  color: white;
}
.navbar.scrolling-active .box-navbar .navigation ul li a {
  color: white;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .brand h1 {
  font-size: 40px;
  color: var(--dark);
}

.navbar .box-navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .box-navbar .navigation ul li {
  list-style: none;
  transition: all 0.2s ease;
}

.navbar .box-navbar .navigation ul li:hover {
  transform: scale(1.1);
}

.navbar .box-navbar .navigation ul li a {
  text-decoration: none;
  color: black;
}

.navbar .box-navbar i.ri-menu-line {
  display: none;
}

.navbar .box-navbar i.ri-close-line {
  display: none;
}
.navbar .box-navbar .navigation ul li i {
  display: none;
}
.navbar .box-navbar .navigation ul li:hover a {
  color: var(--primary);
}

.navbar .box-navbar .navigation ul li:nth-child(5) a {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: var(--primary);
}

/* section hero */
.hero {
  width: 100%;
  min-height: 100vh;
}

.about {
  width: 100%;
  min-height: 100vh;
}

/* 992 px =============================================================== */
@media (max-width: 992px) {
  .navbar.scrolling-active .box-navbar i.ri-menu-line {
    color: white;
  }

  .navbar .box-navbar i.ri-menu-line {
    display: block;
    font-size: 28px;
  }

  /* sidebar akan hilang ketika right -300px */
  .navbar .box-navbar .navigation {
    position: absolute;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: var(--info);
    transition: all 0.3s ease;
  }

  /* sidebar akan muncul ketika right 0 */
  .navbar .box-navbar .navigation.menu-active {
    right: 0;
  }

  .navbar .box-navbar .navigation i.ri-close-line {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    color: black;
  }

  .navbar .box-navbar .navigation ul {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 70px 30px 0 0;
  }

  .navbar .box-navbar .navigation ul li a {
    color: white;
  }

  .navbar .box-navbar .navigation ul li i {
    display: inline-block;
    color: var(--primary);
    margin-inline: 10px;
  }

  .navbar .box-navbar .navigation ul li:nth-child(5) a {
    background-color: transparent;
    padding: 0;
  }
}
